<div class="grid">
    <!--  BEGIN GRID ITEM -->
    <div class="grid__item w-third">
      <div class="menu__wrapper premove">
        <div class="menu__header">
          <h2>Frukost / Breakfast</h2>
        </div>
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>THICK CUT TOAST <span class="menu__item-price">- 12</span></h4>
          </div>
          <div class="menu__item-description">
            <p>roasted butternut squash, arugula, walnuts, pickled red onions, chèvre, &amp; 2 baked eggs on toasted Pearl Bakery Bread. </p>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>RICOTTA FRITTERS WITH CARDAMOM ROASTED APPLES* <span class="menu__item-price">- 12</span></h4>
          </div>
          <div class="menu__item-description">
            <p>maple syrup, sour cream, pork apple sausage, &amp; 2 baked eggs.</p>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>LEFSE* <span class="menu__item-price">- 13</span></h4>
          </div>
          <div class="menu__item-description">
            <p>Norwegian potato crepes flled with creamy smoked
trout mousse. Served with 2 baked eggs & a watercress
& shaved fennel salad with currant vinaigrette. </p>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>FÖRLORADE ÄGG<span class="menu__item-price">- 13</span></h4>
          </div>
          <div class="menu__item-description">
            <p>2 eggs, ham, spinach & cream baked with breadcrumbs in a
cast iron skillet. served with walnut toast. </p>
          </div>
        </div>
        <!--  END MENU ITEM-->
      </div>
      <div class="menu-divider"></div>
      <div class="menu__note premove">
        <p>*Consuming raw or undercooked meats,
poultry, seafood, shellfish, or eggs may
increase your risk of foodborne illness. </p>
        <p>*All eggs are baked SOFT.
*Gravlax is uncooked, cured salmon.
*Lamb Burgers are cooked to order.
*Aioli contains raw eggs. </p>
        <p>20% gratuity added to parties of 5 or more.
No more than 2 cards per table. </p>
<p>You can also view our pdf menus: <a href="http://broderpdx.com/sg_userfiles/S%C3%B6der_Brunch.jpg">Soder Brunch</a>, <a href="http://broderpdx.com/sg_userfiles/BRUNCH_3-8-16.pdf">Nord Brunch</a>, or , <a href="http://broderpdx.com/sg_userfiles/Caf%C3%A9_Brunch.pdf">Cafe Brunch</a></p>
      </div>
    </div>
    <!--  END GRID ITEM -->

    <!--  BEGIN GRID ITEM -->
    <div class="grid__item w-third">
      <div class="menu__wrapper">
        <div class="menu__header">
          <h2>Broder Signatures</h2>
        </div>
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>PYTT I PANNA (Swedish Hash)*</h4>
          </div>
          <div class="menu__item-description">
            <p>potatoes cooked with peppers & onions, topped with 2
baked eggs & pickled beets. served with walnut toast. </p>
            <p>smoked trout <span class="menu__item-price">- 13</span></p>
            <p>roasted pork belly <span class="menu__item-price">- 12</span></p>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>TWO SOFT BAKED EGGS*<span class="menu__item-price">- 9</span></h4>
          </div>
          <div class="menu__item-description">
            <p>walnut toast, honey butter, & your choice of side</p>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>PBAKED EGG SCRAMBLE*  <span class="menu__item-price">- 12</span></h4>
          </div>
          <div class="menu__item-description">
            <p>select one of the following combinatons & choose a side: </p>
            <p>~ roasted mushrooms, celery root, & chèvre</p>
            <p>~ ham, roasted squash, & havart </p>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>ÆBELSKIVERS (Danish Pancakes)*<span class="menu__item-price">- 10</span></h4>
          </div>
          <div class="menu__item-description">
            <p>choose 2: lemon curd, lingonberry jam, apple sauce,
or syrup </p>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>GRAVLAX* SMØRREBRØD*<span class="menu__item-price">- 12</span></h4>
          </div>
          <div class="menu__item-description">
            <p>~ gravlax* cured with aquavit. served open faced on
toasted rye bread with Skagenröra(Swedish shrimp salad),
shaved radish, & your choice of side. </p>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>NORD BORD* <span class="menu__item-price">- 13</span></h4>
          </div>
          <div class="menu__item-description">
            <p>salami, smoked trout, grapefuit, granola parfait, rye bread,
Knäckenbröd, cheeses, beets, & a sweet treat. </p>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>FIKA <span class="menu__item-price">- 7</span></h4>
          </div>
          <div class="menu__item-description">
            <p>a selecton of pastries fom our bake shop.
a Swedish traditon that is tpically served with coffee. </p>
          </div>
        </div>
        <!--  END MENU ITEM-->
      </div>

    </div>
    <!--  END GRID ITEM -->

    <!--  BEGIN GRID ITEM -->
    <div class="grid__item w-third">
      <div class="menu__wrapper">
        <div class="menu__header">
          <h2>MIDDAG / LUNCH</h2>
        </div>
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>TUNNBRÖDSRULLE (Hot Dog)*<span class="menu__item-price">- 8</span></h4>
          </div>
          <div class="menu__item-description">
            <p>mustard sauce, potato pancake, & pickles.
comes with your choice of side. add Skagenröra $2. </p>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>LAMB BURGER*<span class="menu__item-price">- 13</span></h4>
          </div>
          <div class="menu__item-description">
            <p>aioli*, goat cheese, butter lettuce, & pickles on a
house made potato bun. comes with choice of side. </p>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>KÖTTBULLAR (Swedish Meatballs)*~<span class="menu__item-price">- 13</span></h4>
          </div>
          <div class="menu__item-description">
            <p>sherry cream sauce, walnut toast, & lingonberry jam.
comes with your choice of side. </p>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>FRIED OYSTERS* <span class="menu__item-price">- 11</span></h4>
          </div>
          <div class="menu__item-description">
            <p>Cornmeal breading, bacon jam, aioli*, radish &
microgreens.</p>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <div class="sides">
        <div class="menu__header">
          <h4>SIDES 4.50</h4>
        </div>
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>FRESH BAKED SCONE</h4>
            <div class="menu__item-description">
              <p>with lemon curd</p>
            </div>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>PORK & APPLE SAUSAGE </h4>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>WISCONSIN'S FINEST BACON</h4>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>GRANOLA PARFAIT</h4>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>BAKED GRAPEFRUIT</h4>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>RAGGMUNK (Potato pancake)</h4>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>RICOTTA & APPLE FRITTER</h4>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>SAUTEED GREENS</h4>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>UUNIPURO</h4>
          </div>
          <div class="menu__item-description">
            <p>Finnish oven porridge with jam & steamed cardamom milk</p>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>CRISPY SMASHED POTATOES</h4>
          </div>
          <div class="menu__item-description">
            <p>with mustard crème faîche & scallions </p>
          </div>
        </div>
        <!--  END MENU ITEM-->
        <!--  BEGIN MENU ITEM-->
        <div class="menu__item">
          <div class="menu__item-name">
            <h4>FRESH MIXED GREENS </h4>
          </div>
          <div class="menu__item-description">
            <p>with shaved fennel, radish, & lingonberry vinaigrette </p>
          </div>
        </div>
        <!--  END MENU ITEM-->
      </div>
    </div>
  </div>
    <!--  END GRID ITEM -->

</div>
